.me2day_driver.buttontext img { vertical-align: middle; }
.me2day_driver.buttontext span { line-height: 29px; font-weight: bold; font-size: 15px; }
.me2day_driver.buttontext a {text-decoration: none; color: inherit; }
